<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Apellido</ion-label>
        <ion-input></ion-input>
    </ion-item>
</ion-card>
  <ion-button href="home">Volver</ion-button>
</ion-content>

<ion-content>


  <ion-item>
      <ion-button href="menu">Lmpiar</ion-button>
      <ion-button href="">Mostrar</ion-button>
  </ion-item>
</ion-content>
