<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1>Bienvenido!</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-item>
            <ion-label>
                <p>Nombre :</p>
            </ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>Apellido :</p>
            </ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>Nivel Educacion :</p>
            </ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>F. Nacimiento</p>
            </ion-label>
            <ion-label>
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
            </ion-label>
            <ion-modal [keepContentsMounted]="true">
                <ng-template>
                    <ion-datetime id="datetime"></ion-datetime>
                </ng-template>
            </ion-modal>
        </ion-item>
        <ion-item>
            <ion-button href="menu">Lmpiar</ion-button>
            <ion-button href="">Mostrar</ion-button>
        </ion-item>
    </ion-card>

    <ion-button href="home">Volver</ion-button>

    <ion-item>
        <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Pick date</ion-label>
        <ion-text slot="end">{{ formatedString}}</ion-text>
    </ion-item>


</ion-content>