#header {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

h1,
h2,
h3,
h4,
h5 {
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: black;
}