<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Clave</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-card>
    <ion-item>
        <ion-button href="menu">Ingresar</ion-button>
        <ion-button href="home">Volver</ion-button>
    </ion-item>
</ion-content>